<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plntry!</title>
</head>
<body>
    Welcome to plntry
    <!-- <form action="https://plntry.herokuapp.com/rc_car1"> -->
    <form action="rc_car1">

        <input type="submit" value="Car 1" />
    </form>
</body>
<script type="module" src="../static/index.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
</html>