<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RC_Car1!</title>
</head>
<body>
    Car will appear here!
    <div id="videos">
        <video class='video-player' id="local_video" autoplay playsinline></video>
        <video class='video-player' id="remote_video" autoplay playsinline></video>
    </div>
</body>
<script type="module" src="../static/vehicle_connection.js"></script>
<script type="module" src="../static/web_rtc_functions.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
</html>